<configuration>
	<connectionStrings>
		<add name="ServerConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=master;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
		<add name="ConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=Flashcards;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>